<!DOCTYPE html>
<html>
<head>
  <title>Slumdoghub Millionware</title>


  <%= stylesheet_link_tag    "application", :media => "all" %>


  <%= javascript_include_tag "application" %>

<!-- RAWR META TORGS -->
<meta charset="UTF-8">
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>
<meta name="content" content="Developer. Designer. Comedian.">
<meta name="description" content="Developer. Designer. Comedian." />

<link rel="stylesheet" href="http://www.brettshollenberger.com/css/bootstrap2.css">

<!-- GIMME DAT TYPEFACE BOII -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<!-- Tha jQueries -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<!-- SCROLZPY? -->
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="http://www.brettshollenberger.com/smoothscroll.js"></script>
<script type="text/javascript">
$('#navbar').scrollspy()
</script>

</head>

<body data-spy="scroll">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="active">
                    <a href="#home">SlumdogHub </a>
                </li>
                <div class="randospan">a</div>
                <li>
                    <a href="#skills">Explore</a>
                </li>
                <li>
                    <a href="#experience">Features</a>
                </li>
                <li>
                    <a href="#about">Bonecoins</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container" id="home" name="home">
    <div class="row"><br><br><br></div>
    <div class="row top">
        <div class="span6">
            <p id="slum">SLUM</p>
            <p id="doghub">DOGHUB</p>
            <p id="millionware">millionware</p>
            <p id="intro">Powerful collaboration, review, and code management for open source and private canine development projects.</p>
        </div>
        <div class="span6" id="fluify">
            <div class="span3 signup">
                <form action="#">
                  <input class="bigsignup" type="text" placeholder="Pick a username"><br>
                  <input class="bigsignup" type="text" placeholder="Your email"><br>
                  <input class="bigsignup" type="text" placeholder="Create a password"><br>
                  <p id="signuptext">Tip: use at least 7 characters, including a number.<br><br>By clicking on "Sign up for free" below, you agree to the <a href="#">Terms of Service</a> and the <a href="#">Privacy Policy.</a></p>
                  <a class="btn btn-block btn-primary happy">Woof.</a>
                </form>
            </div>
            <div class="parallax-div">

            </div>
        </div>
    </div>
</div>
<div id="jagged" style="clear:left;">
</div>

<div class="whyme" id="skills" name="skills">
    <div class="container">
        <div class="row">
            <div class="span4">
               <img src="http://png.findicons.com/files/icons/8/dog/128/dog_1.png" class="colimg"><h1>work smarter</h1>
                <p class="tricoltext">Who's a good boy? Who's a good boy? You're a good boy! You're using DogHub!</p>
            </div>
            <div class="span4">
                <img src="http://png.findicons.com/files/icons/8/dog/128/dog_2.png" class="colimg">
                <h1>not harder</h1>
                <p class="tricoltext">Hoochiecoochiesmoochiecoo, my little man. Who's mommy's schnookums? You are!</p>
            </div>
             <div class="span4">
                <img src="http://png.findicons.com/files/icons/8/dog/128/dog_4.png" class="colimg"><h1>nap daily</h1>
                <p class="tricoltext">Gobbledyschwabbledy doo, mister bones! We're using you as a proxy to ascertain the paternal capacity of our significant other, yes we are!</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="span7 footer">
      <p>Copy, right? 2013. DERGHUB.</p>
    </div>
  </div>
</div>
    <!--end about!-->
</body>

</html>
